body {
    background-color: #5CC8FF;
    text-align: center;
}
main {
    margin-left: 20px; 
    margin-right: 20px;
    padding: 20px;
    
}
/* .homepage-image {
    display: flex;
    flex-wrap: wrap;
  } */
img {
    margin-left: 2cm;
    align-items: center;
}
h1 {
    text-align: center;
    color: #343633;
    }
h2 {    
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif ;
  }
  
nav {
    background-color: #93867F;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: #343633; 
    font-size: 1.5em;
}

nav a:hover {
    color: #ebe9f5;
    text-decoration: none;
}
a {
    color: #343633; 
}
.btn, .btn-primary {
    background-color: #7D70BA;
}
form {
    display: inline;
}
img {
    height: 30em;
}